.footer {
    position: relative;
    width: 100%;
    height: 554.39px;
    overflow: hidden;
    background-color: black;
}

.footer .content {
    color: #fff;    
    /* background-color: burlywood; */
}

.footer .footerBackground {
    position: absolute;
    z-index: 1;
    left: 40%;
    scale: 1.1;
    bottom: 0;
}