.headerArea {
    left: 0;
    top: 0;
    width: 100%;
    z-index: 500;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
}

.navbar .logoArea {   
    display: flex;
    align-items: center; 
    gap: 1.5rem;
    /* background-color: skyblue; */
}

.navbar .logoArea .logo {
    width: 191px;
}

.navbar .logoArea .phoneNumber {
    text-wrap: nowrap;
    font-size: 14px;
    color: white;
}

.navbar .linksArea {
    display: flex;
    align-items: center;
    color: white;
    /* background-color: pink;     */
}

.navbar .linksArea .links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    /* background-color: blueviolet;    */
}

.navbar .linksArea .links .link {
    position: relative;
    line-height: 3rem;
    /* background-color: #00EBFF; */
}

.navbar .linksArea .links .active {
    font-weight: 700;
}

.navbar .linksArea .links .link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s;
}

.navbar .linksArea .links .link:hover::before {
    transform: scaleX(1);
}

.navbar .linksArea .links .link:not(:hover)::before {
    transform-origin: left;
}

@media (max-width: 1200px) {
    .phoneNumber {
        display: none;
    }
}

@media (max-width: 1000px) {
    .navbar .linksArea {
        display: none;
    }
}
