.headerArea {
    left: 0;
    top: 0;
    width: 100%;
    z-index: 500;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
}

.navbar .logoArea {   
    display: flex;
    align-items: center; 
    gap: 1.5rem;
    /* background-color: skyblue; */
}

.navbar .logoArea .logo {
    width: 191px;
}

.navbar .logoArea .phoneNumber {
    text-wrap: nowrap;
    font-size: 14px;
    color: white;
}

.navbar .logoArea .phoneNumber span {
    margin-left: 1rem;
    margin-right: 1rem;
}

.navbar .linksArea {
    display: flex;
    align-items: center;
    color: white;
    /* background-color: pink;     */
}

.navbar .linksArea .links {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    /* background-color: blueviolet;    */
}

.navbar .linksArea .links .innerLink {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.navbar .linksArea .icon {
    width: 15px;
    height: 7px;
    transition: transform ease-in-out 0.2s;
    /* transform: rotateZ(180deg); */
    
    /* background-color: red; */
}

.navbar .linksArea .links .dropdownMenu {
    position: absolute;
    transform-origin: top;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 2.5rem;
    left: -1.5rem;
    bottom: -175px;
    width: 176px;
    overflow: hidden;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.8);
    /* background-color: red; */
    transition: transform ease-in-out 0.2s;
}

.navbar .linksArea .links .dropdownMenu li {
    opacity: 0.8;
}

.navbar .linksArea .links .dropdownMenu li:hover {
    opacity: 1;
}

.navbar .linksArea .links .link {
    position: relative;
    line-height: 3rem;
    /* background-color: #00EBFF; */
}

.navbar .linksArea .links .active {
    font-weight: 700;
}

.navbar .linksArea .links .link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s;
}

.navbar .linksArea .links .link:hover::before {
    transform: scaleX(1);
}

.navbar .linksArea .links .link:not(:hover)::before {
    transform-origin: left;
}

@media (max-width: 1400px) {
    .navbar .linksArea {
        display: none;
    }

}

@media (max-width: 600px) {
    .phoneNumber {
        display: flex;
        flex-direction: column;
    }
    .phoneNumber span {
        display: none;
    }
}
